<div class="center">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Registrar</mat-card-title>
          <mat-card-subtitle>Tipo Evaluacion</mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Tipo Evaluacion</mat-label>
                <input matInput placeholder="Ingresar Tipo Eva">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <section>
                <div class="example-button-row">
                    <button mat-raised-button color="primary">Añadir</button>
                </div>
            </section>
        </mat-card-content>
      </mat-card>

    <!---->
</div>
